<% include ./partials/canvasserNav %>
<link rel="stylesheet" type="text/css" href="/stylesheets/view-campaign.css">
<div class="container">

    <div class="accordion-option">
        <h1 class="title">Upcoming Assignments</h1>
        <!-- <a href="javascript:void(0)" style="text-decoration:none" class="toggle-accordion" accordion-id="#accordion"></a> -->
        <a href="javascript:void(0)" class="openAll" style="text-decoration:none">&nbspExpand All</a>
        <a href="javascript:void(0)" class="closeAll" style="text-decoration:none">Collapse All&nbsp</a>

    </div><!-- div.accordion-option -->
    <div class="clearfix"></div>
    <% for (var i = 0; i < assignments.length; i++){ %>
    <div class="accordion panel-group" id="accordion" aria-multiselectable="true">


        <!--Campaign's Managers-->
        <div class="card panel panel-default">
            <div class="card-header panel-heading">
                <h4 class="panel-title">
                    <a class="panel-title-text" data-toggle="collapse" data-parent="#accordion" href="#collapseCamManagers"
                        style="text-decoration:none" aria-expanded="true" aria-controls="collapseOne">
                        Assignment
                        <%= assignments[i].id %>
                        <%let numTask = assignments[i].assignment.length %>
                    </a>
                </h4>
            </div>
            <!--div.panel-heading-->
            <div id="collapseCamManagers" class="panel-collapse show">
                <div class="card-body panel-body">
                    <!--Start of table-->
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead class="thead-light">
                                <th class="text-center">Task Id</th>
                                <th class="text-center">Task Status</th>
                                <th class="text-center">Remaining Locations</th>
                                <th class="text-center">Completed Locations</th>
                                <th class="text-center">Details</th>
                                <th class="text-center">Start Canvass</th>
                            </thead>
                            <tbody>
                                <% for (var j = 0; j < numTask; j++){ %>
                                <tr class="text-center">
                                    <td>
                                        <%= assignments[i].assignment[j]._ID %>
                                    </td>
                                    <td>
                                        <% if (assignments[i].assignment[j]._status == true) { %>
                                        Completed
                                        <% } else { %>
                                        Active
                                        <% } %>
                                    </td>
                                    <td>
                                        <% if (assignments[i].assignment[j]._remainingLocation === null) { %>
                                        0
                                        <% } else { %>
                                        <%= assignments[i].assignment[j]._remainingLocation._locations.length %>
                                        <% } %>
                                    </td>
                                    <td>
                                        <% if (assignments[i].assignment[j]._completedLocation === null) { %>
                                        0
                                        <% } else { %>
                                        <%= assignments[i].assignment[j]._completedLocation._locations.length %>
                                        <% } %>

                                    </td>

                                    <td class>
                                        <span data-placement="top" data-toggle="tooltip" title="View Detail">
                                            <form id='forms<%= assignments[i].assignment[j]._ID %>' action='/canvasser/view-tasks/<%= assignments[i].assignment[j]._ID %>'
                                                method='GET'>
                                                <button class="btn btn-primary btn-xs" data-title="View Detail"
                                                    data-toggle="modal" data-target="#viewDetail" onclick="location.href='/canvasser/view-tasks/<%= assignments[i].assignment[j]._ID %>'">
                                                    <span class="far fa-eye"></span>

                                                </button>
                                            </form>
                                        </span>
                                    </td>

                                    <td>
                                        <span data-placement="top" data-toggle="tooltip" title="View Detail">
                                            <form id='<%= assignments[i].assignment[j]._campaignID %>' action='/canvasser/canvassing/map'
                                                method='POST'>
                                                <input type="hidden" name="campaignID" value="<%= assignments[i].assignment[j]._campaignID %>">
                                                <input type="hidden" name="taskID" value="<%= assignments[i].assignment[j]._ID %>">
                                                <button class="btn btn-primary btn-xs" 
                                                    data-title="View Detail"
                                                    data-toggle="modal" data-target="#viewDetail" 
                                                    onclick="location.href='/canvasser/canvassing/map'" >
                                                    <span class="fa fa-play"></span>

                                                </button>
                                            </form>
                                        </span>
                                    </td>

                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <!--div.table-responsive-->
                    <!--End of Table-->
                </div>
            </div>
            <!--div.panel-collaspe-->
        </div>
        <!--div.card div.panel-->

    </div>
    <% } %>
    <script src="/scripts/view-campaign.js"></script>

    <% include ./partials/footer %>