<% include ./partials/managerNav %>

	<div class="container">

        <h1>Edit Campaign</h1>

		<form action="/campaign/edit/<%= campaignID %>" method="POST">
	  		<div class="form-group">
			    <label>Campaign Name</label>
			    <input type="text" name="campaign[campaignName]" class="form-control" placeholder="Campaign Name" value="<%= campaignName %>">
              </div>
            <div class="form-group">
                <label>Start Date</label>
                <input type="text" name="campaign[startDate]" class="form-control" placeholder="YYYY-MM-DD" value="<%= campaignStartDate %>">
            </div>
            <div class="form-group">
                <label>End Date</label>
                <input type="text" name="campaign[endDate]" class="form-control" placeholder="YYYY-MM-DD" value="<%= campaignEndDate %>">
            </div>           
            <div class="form-group">
                <label for="talkingPoints">Talking Points</label>
                <textarea class="form-control" id="talkingPoints" name="campaign[talkingPoints]" rows="3" ><%= campaignTalkPoints %></textarea>
            </div>
            <div class="form-group">
                <label for="questionaire">Questionaire</label>
                <textarea class="form-control" placeholder="One question per line." id="questionaire" name="campaign[questionaire]" rows="3"> <%= campaignQuestions %></textarea>
            </div>		
            <div class="form-group">
                <label>Expected Visit Duration</label>
                <input type="text" name="campaign[averageExpectedDuration]" class="form-control" placeholder="Number of Minutes" value="<%= campaignAvgDuration %>">
            </div>      		 
            <div class="form-group">
                <label for="locations">Locations</label>
                <textarea class="form-control" id="locations" name="campaign[locations]" rows="3"><%= campaignLocations %></textarea>
            </div>
            <div class="form-group">
                <label for="locations">Managers</label>
                <textarea class="form-control" placeholder="Username of each Manager seperated by line" id="canvassers" name="campaign[managers]" rows="3"><%= campaignManagers %></textarea>
            </div>    
            <div class="form-group">
                <label for="locations">Canvassers</label>
                <textarea class="form-control" placeholder="Username of each canvasser seperated by line" id="canvassers" name="campaign[canvassers]" rows="3"><%= campaignCanvassers %></textarea>
            </div>      
  	
		  <button type="submit" class="btn btn-default">Submit</button>

	</div>
<% include ./partials/footer %>