<% include ./partials/canvasserNav %>

<div>
    <% for (var i=0; i < tasks.length; i++ ) { %>

    <div style="border: 5px;margin: auto;">
        <form action='/canvasser/view-task-detail' method='POST'>
            <h3>Task ID</h3>
            <p>
                <%= tasks[i]._ID %>
            </p>
            <input type="hidden" name="taskID" value="<%= tasks[i]._ID %>">
            <input type="hidden" name="campaignID" value="<%= campaignID %>">
            <input type="hidden" name="canvasserID" value="<%= id %>">

            <% if (tasks[i]._canvasser !== "") { %>
                <h3>Canvasser</h3>
                <p>
                    <%= tasks[i]._canvasser %>
                </p>
            <% } %>

            <h3>Scheduled On</h3>
            <p>
                <%= tasks[i]._scheduledOn %>
            </p>

            <h3>Task Status</h3>
            <p>
                <% if (tasks[i]._status == true) { %>
                Completed
                <% } else { %>
                Active
                <% } %>
            </p>

            <% if (tasks[i]._numLocations !== "") { %>
                <h3>Number of Locations</h3>
                <p>
                    <%= tasks[i]._numLocations %>
                </p>
            <% } %>

            <% if (tasks[i]._duration !== "") { %>
                <h3>Duration</h3>
                <p>
                    <%= tasks[i]._duration %>
                </p>
            <% } %>
            <input type="submit" value="Details"> 
        </form>
    </div>
    <% } %>
</div>

<% include ./partials/footer %>