<% include ./partials/managerNav %>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>     
</head>
<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
        background-color: grey;
    }
</style>
<html>

<body>
    <button onclick="goBack()">Go Back</button>

    <div class="container table-responsive" id="map"></div>
    <div>
        <% if (task._remainingLocation != undefined) { %>

        <h3 class="text-center">Remaining Locations</h3>
        <table class="table table-hover table-striped">
            <thead class="thead-light text-center">
                <th>Street Number</th>
                <th>Street</th>
                <th>Unit</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>
            </thead>
            <% for(var j=0; j < task._remainingLocation._locations.length; j++) { %>
            <tr>
                <td>
                    <%= task._remainingLocation._locations[j]._streetNumber %>
                </td>
                <td>
                    <%= task._remainingLocation._locations[j]._street %>
                </td>
                <td>
                    <%= task._remainingLocation._locations[j]._unit %>
                </td>
                <td>
                    <%= task._remainingLocation._locations[j]._city %>
                </td>
                <td>
                    <%= task._remainingLocation._locations[j]._state %>
                </td>
                <td>
                    <%= task._remainingLocation._locations[j]._zipcode %>
                </td>
            </tr>
            <% } %>
        </table>
        <% } %>
        <% var geocodes = geocodes; %>
    </div>

    <script>
        var map;
    var usa = { lat: 37.09024, lng: -95.7129 };
    var markers = [];

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: usa,
            zoom: 2
        });
    }

    var getMarkerUniqueId = function (lat, lng) {
        return lat + '_' + lng;
    }
    //Adds marker to map and push to the array
    function addMarker(location) {
        var markerId = getMarkerUniqueId(location.lat, location.lng);
        var marker = new google.maps.Marker({
            position: location,
            map: map,
            animation: google.maps.Animation.DROP,
            id: markerId
        });
        markers[markerId] = marker;
    }

    //** sets the map on all markers in the array
    function setMapOnAll(map) {
        for (marker in markers) {
            markers[marker].setMap(map);
        }
    }

    // Removes the markers from the map, but keeps them in the array.
    function clearMarkers() {
        setMapOnAll(null);
    }
    // Deletes all markers in the array by removing references to them.
    function deleteMarkers() {
        clearMarkers();
        markers = [];
    }

    var socket = io();
    $(document).ready(function () {
        socket.on('task-geocodes', function (geocodes) {
            deleteMarkers();
            for (i in geocodes) {
                parsedGeocode = { lat: parseFloat(geocodes[i].lat), lng: parseFloat(geocodes[i].lng) };
                addMarker(parsedGeocode);
            }
            map.setZoom(5);
            map.setCenter(new google.maps.LatLng(parseFloat(geocodes[0].lat), parseFloat(geocodes[0].lng)));

        });
    });
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkzTbqwM75PSyw0vwMqiVb9eP6NjnClFk&callback=initMap"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>
<% include ./partials/footer %>